html, body {
	height: 100%;
	margin:0px;
	padding:0px;
}

body {
    color: #2d2d2d;
    background: #cccccc;
    font-family: 'Futura-Medium', 'Futura', 'Trebuchet MS', sans-serif;
}

#container {
    min-height: 100%;
    background-color: white;
    width: 75%;
    margin: auto;
    text-align: justify;
}

#header
{
	height:70px;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	background-color:#c3c3c3
}

#wrapper
{
	margin-top:50px;
	background-color:#c3c3c3;
}

a, h1
{
	color:#2d2d2d;
}


#connexion
{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
}

/* 
==========================
Administration
==========================
*/


#admin
{
	display:flex;
	flex-direction:row;
	justify-content: space-between;
	height:500px;
	padding: 0px 20px;
}

#admin h2
{
	color:black;
}

.crud
{
	display:flex;
	flex-direction:column;
	width:350px;
	height:450px;
	background-color:white;
}

.form
{
	height:40%;
	width:100%;
	/* background-color:blue; */
}

.buttonRow
{
	display:flex;
	justify-content:center;
	/* background-color:red; */
}

.button
{
	background-color:#ebebeb;
	border-radius:6px;
	border:1px solid #bfbfbf;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 25px;
	text-decoration:none;
	text-shadow:0px -1px 0px #e0dfeb;
}

.right
{
border-radius:0px 6px 6px 0px;
}

.left
{
border-radius:6px 0px 0px 6px;	
}

.titreBillet {
    margin-bottom : 0px;
}


/* 
==========================
Forms
==========================
*/

.formulaire
{
	height:170px;
	width:300px;
	background-color:#676767;
	padding-left:10px;
	padding-top:20px;
}

select
{
	margin-left:20px;
}

input[type='password'],[type="text"]
{
	margin-left:20px;
}


#contenu {
    margin-bottom : 30px;
}

#titreBlog, #piedBlog {
    text-align: center;
}

#titreReponses {
    font-size : 100%;
}

#txtCommentaire {
    width: 50%;
}