html, body {
	height: 100%;
	margin:0px;
	padding:0px;
}

body {
    color: #2d2d2d;
    font-family: 'Futura-Medium', 'Futura', 'Trebuchet MS', sans-serif;
}

#container {
    min-height: 100%;
    width: 100%;
    margin: auto;
    text-align: justify;
	background-color:#e5e5e5;
}

a, h1
{
	color:#2d2d2d;
}

/* 
==========================
Header / Connexion
==========================
*/

#header
{
	height:70px;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	background-color:#FFFDFF;
	margin-bottom:40px;
	line-height:100%;
}


#connexion
{
	width:25%;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
}


.button-connexion {
	background-color:#424242;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#fffdff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:10px 24px;
	text-decoration:none;
}
.button-connexion:hover {
	background-color:#666666;
}
.button-connexion:active {
	position:relative;
	top:1px;
}


#superwrapper
{
	margin:auto;
}


#wrapper-admin
{
	margin:auto;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	width:90%;
	background-color:#e5e5e5;
}

#wrapper-home
{
	margin:auto;
	width:90%;
	background-color:#FFFDFF;
}

#status
{
	width:400px;
	height:100px;
	margin:auto;
	background-color:#FFFDFF;
	text-align:center;
	line-height:100px;
	margin-bottom:40px;
}


/* 
==========================
Administration & Modération
==========================
*/

#admin
{
	display:flex;
	flex-direction:column;
	justify-content: space-between;
	padding: 20px 20px;
	width:45%;
	overflow:auto;
	background-color:#FFFDFF;
}

#admin h2
{
	color:black;
}

#moderation
{
	width:45%;
	padding: 20px 20px;
	background-color:#FFFDFF;
}

.modCommentaire
{	
	background-color:grey;
}

.billet
{
	display:flex;
	flex-direction:row;
	justify-content: space-between;
	background-color:grey;
}

.crud
{
	display:flex;
	flex-direction:column;
	width:350px;
	height:450px;
	background-color:white;
}

.form
{
	height:40%;
	width:100%;
	background-color:blue;
}

.buttonRow
{
	display:flex;
	justify-content:center;
	/* background-color:red; */
}

.button
{
	background-color:#ebebeb;
	border-radius:6px;
	border:1px solid #bfbfbf;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 25px;
	text-decoration:none;
	text-shadow:0px -1px 0px #e0dfeb;
}

.right
{
border-radius:0px 6px 6px 0px;
}

.left
{
border-radius:6px 0px 0px 6px;	
}

.titreBillet {
    margin-bottom : 0px;
}


/* 
==========================
Forms
==========================
*/

#connexionForm
{
margin:auto;
height:700px;
width:900px;	
}

.formulaire
{
	height:170px;
	width:300px;
	background-color:#676767;
	padding-left:10px;
	padding-top:20px;
}

select
{
	margin-left:20px;
}


#contenu {
    margin-bottom : 30px;
}

#titreBlog, #piedBlog {
    text-align: center;
}

#titreReponses {
    font-size : 100%;
}

#txtCommentaire {
    width: 50%;
}